<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="Error">

    <Appenders>
        <File name="FILE" fileName="logfile.log" append="true">
            <PatternLayout pattern=" %m%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name= "com.epam.tat.framework" level="debug" additivity="true">
        </Logger>
        <!-- Root Logger -->
        <Root level="Error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>
